# dependencies
node_modules
.pnp
.pnp.js
dist/
# testing
coverage

out/
build

# misc
.DS_Store
*.pem
.vscode

# debug
npm-debug.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local